<div class="product-list-container">
  <h2>Product List</h2>
  <table *ngIf="products.length > 0; else noProducts" class="product-table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Price</th>
        <th>Description</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of products">
        <td>{{ product.name }}</td>
        <td>{{ product.price | currency }}</td>
        <td>{{ product.description }}</td>
        <td>
          <button (click)="updateProduct(product._id)">Update</button>
          <button (click)="deleteProduct(product._id)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
  <ng-template #noProducts>
    <p>No products available.</p>
  </ng-template>
</div>
