<div class="container py-5">
    <div class="row text-center text-white mb-5">
        <div class="col-lg-7 mx-auto">
            <h1 class="display-4">Product List</h1>
        </div>
    </div>

    <button class="btn btn-primary" (click)="enableBuying()">Enable/Disable Buying</button>
    <div class="row">
        <div class="col-lg-8 mx-auto">
            <!-- List group-->
            <ul class="list-group shadow">

                <div class="row">
                    <div class="col-md-4" *ngFor="let product of products"> <!-- list group item-->



                        <div class="card mb-4">
                            <img [src]="product.imgaddress" class="card-img-top fixed-size" alt="{{ product.name }}">
                            <div class="card-body">
                                <h5 class="card-title">
                                    <a [routerLink]="['/products',product.id]" class="font-weight-bold">{{ product.name
                                        }}</a>
                                </h5>
                                <p class="card-text">{{ product.description }}</p>
                                <p class="card-text"><small class="text-muted">{{ product.price }}</small></p>
                                <app-alert-details [product]="product" [isUnchanged]="isUnchanged"
                                    (notify)="clickMe(product)"></app-alert-details>
                            </div>

                        </div>

                    </div>
                </div>
            </ul> <!-- End -->
        </div>
    </div>
</div>