<div class="container py-5">
    <div class="row text-center text-white mb-5">
        <div class="col-lg-7 mx-auto">
            <h1 class="display-4">Product List</h1>
        </div>
        <button class="btn btn-primary" (click)="enableBuying()">Check fit</button>
    </div>

    <div class="row">
        <!-- List group-->
        <ul class="list-group shadow">

            <div class="row">
                <div class="col-md-3" *ngFor="let product of products"> <!-- list group item-->
                    <div class="card mb-4 item">
                        <img [routerLink]="['/products',product._id]" [src]="product.imgaddress"
                            class="card-img-top fixed-size" alt="{{ product.name }}">
                        <div class="card-body" [routerLink]="['/products',product._id]">
                            <h5 class="card-title">
                                <a [routerLink]="['/products',product._id]" class="font-weight-bold">{{ product.name
                                    }}</a>
                            </h5>
                            <p class="card-text">{{ product.description }}</p>
                            <p class="card-text"><span class="orange-text large-text">${{ product.price
                                    }}</span></p>
                        </div>
                        <div class="buttonarea">

                            <app-alert-details class="card-body" [product]="product" [isUnchanged]="isUnchanged"
                                (notify)="clickMe(product)"></app-alert-details>
                        </div>
                    </div>

                </div>
            </div>
        </ul> <!-- End -->
    </div>
</div>