<div class="row text-center text-white mb-5 mr-5">
    <div class="col-lg-7 mx-auto">
        <h1 class="display-4">Product List</h1>
    </div>
</div>

<div class="container mt-5">
    <div class="row">
        <div class="col-md-4 product-card" *ngFor="let product of products">
            <div class="card">
                <img [src]="product.imgaddress" class="card-img-top product-img" alt="Product Image">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">{{product.name}}</h5>
                    <p class="card-text">{{product.description }}</p>
                    <p class="card-text price-tag">${{product.price}}</p>
                    <button [routerLink]="['/products',product._id]" class="btn btn-primary mt-auto">View Tire</button>
                </div>
            </div>
        </div>
    </div>
</div>

